* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
  color: #272727;
}

.container {
  display: flex;
  flex-direction: column;
  max-width: 1150px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

@media screen and (max-width: 758px) {
  .container {
    padding: 0 10px;
  }
}
